body, header, #header {
  margin: 0px;
  background-color: #DEDBD5;
}
h1 {
  color: black;
  font-size: 40px;
  font-style: Helvetica, Times, sans-serif;
  display: inline-block;
  margin-top: 50px;

}
h2 {

}
p {
  font-size: 20px;
}
body {
  margin: 0px auto 100px auto;
  padding: 10px 50px 5px 50px;
}
footer {
  width: 50%;
  margin: 5px auto 5px auto;
}
#whole_page {
  max-width: 700px;
  display: inline;
}
#header {
  height: 225px;
  margin: 0px auto 0px auto;
  width: 50%;
}
#alex_pic {
  height: 200px;
  width: 225px;
  float: left;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  margin: 12px auto 0px auto;
}

#intro {
  width: 50%;
  margin: 5px auto 5px auto;
}
#what_doin {
  width: 50%;
  margin: 5px auto 5px auto;
}
#games {
  margin: 5px auto 5px auto;
  width: 50%;
}

/* Links */
a {
  color: black;
}
ul {
  display: block;
}
#header ul {
  display: inline;
  list-style-type: none;
}
#header li {
  padding-top: 5px;
}
#header a {
  padding: 10px;
  color: black;
  margin-left: ;
}
#header a:hover {
  color: green;
  text-decoration: none;
}
/* how to not show my pic
img {
  display: none;
}
*/
